* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0b0f;
}

.main {
  position: relative;
}

.main-first {
  height: 90vh;
  width: 100vw;
  position: relative;
}

.bg-img {
  height: 90vh;
  width: 100vw;
  filter: brightness(30%);
  position: relative;
  z-index: 0;
}
.logo-img {
  position: absolute;
  z-index: 1;
  width: 10vw;
  height: 5vh;
  padding-left: 10vw;
  padding-top: 3vh;
  background-color: none;
}
.nav-first-button {
  position: absolute;
  z-index: 1;
  width: 8vw;
  height: 4vh;
  left: 75vw;
  top: 3vh;
  background-color: #0b0b0f;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
}

.nav-first-button:hover {
  animation: FocusAnimation 0.5s ease-in-out 0s 1 forwards;
}

.nav-second-button {
  position: absolute;
  z-index: 1;
  width: 5vw;
  height: 4vh;
  left: 84vw;
  top: 3vh;
  background-color: red;
  color: white;
  border: none;
  border-radius: 7px;
}

.nav-second-button:hover {
  animation: FocusAnimation 0.5s ease-in-out 0s 1 forwards;
}

.main-heading-container {
  position: absolute;
  z-index: 1;
  width: 40vw;
  height: 45vh;
  left: 30%;
  top: 30%;
  color: white;
  border-radius: 7px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.main-heading {
  font-size: 8vh;
  font-weight: bolder;
}

.sub-info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vh;
  font-weight: 500;
  margin-top: 2vh;
}
.sub-info-two {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vh;
  margin-top: 4vh;
}

.email-input {
  align-self: flex-start;
  height: 10vh;
  width: 25vw;
  margin-left: 2vh;
  margin-top: 0vh;
  background-color: #0b0b0f;
  position: relative;
  top: 1vh;
  border-radius: 7px;
  border: none;
  border: 1px solid white;
  opacity: 0.4;
  color: white;
}
.get-started-button {
  position: relative;
  bottom: 6.3vh;
  align-self: flex-end;
  height: 10.5vh;
  width: 12vw;
  margin-right: 2vh;
  margin-top: 0vh;
  border-radius: 7px;
  border: none;
  background-color: red;
  color: white;
  font-size: large;
  font-weight: bold;
}

.get-started-button:hover {
  animation: FocusAnimation 0.5s ease-in-out 0s 1 forwards;
}

/* DIVIDER CSS */
.divider {
  position: relative;
  bottom: 1vh;
  width: 100vw;
  height: 1vh;
  background-color: gray;
  margin-bottom: 0px;
}

/* Main-two CSS */

/* whole layout */
.main-second {
  margin-top: 0px;
  width: 100vw;
  height: 290vh;
  background-color: #0b0b0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

/* heading */
.main-second > h2 {
  color: white;
  font-size: 4vh;
  margin-left: 10vw;
  margin-top: 1vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: flex-start;
}

/* first section */
.trending {
  height: 40vh;
  width: 90vw;
  background-color: #0b0b0f;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vh;
}

.trending-scroll {
  width: 1vw;
  height: 20vh;
  background-color: #111116;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 0px 1px outset;
  color: white;
}

.trendcards {
  width: 15vw;
  height: 30vh;
  background-color: #111116;
  border-radius: 7px;
}

.trending-img {
  width: 15vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 7px;
}

.trending > .trending-scroll:hover,
.trending-img:hover {
  animation: FocusAnimation 0.5s ease-in-out 0s 1 forwards;
}

@keyframes FocusAnimation {
  from {
    transform: scale(100%);
    filter: brightness(100%);
  }
  to {
    transform: scale(105%);
    filter: brightness(120%);
  }
}

/* Reasoning - CSS */
.reasoncards {
  height: 40vh;
  width: 90vw;
  background-color: #0b0b0f;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  flex-wrap: wrap;
}

.card-reason {
  width: 20vw;
  height: 30vh;
  background-color: #111116;
  border-radius: 7px;
  background: linear-gradient(180deg, #1c0032 0%, #24004d 50%, #0b0b0f 100%);
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.reason-heading {
  font-size: 3vh;
  color: white;
  margin: 2vh;
}

.reason-info {
  font-size: 2vh;
  color: rgb(192, 189, 189);
  margin: 2vh;
  font-weight: normal;
}

.svg-icon-reasoning {
  align-self: flex-end;
}

.svg-icon-one {
  position: relative;
  top: 2vh;
}

.svg-icon-three {
  position: relative;
  top: 4vh;
}
.svg-icon-four {
  position: relative;
  top: 3vh;
}

/* Frequently Asked Section's CSS */
.frequently-asked-section {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.question-card {
  height: 15vh;
  width: 80vw;
  background-color: rgb(40, 39, 39);
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.question-card:hover {
  filter: brightness(200%);
}

.question-card-info {
  color: white;
  font-size: 4vh;
  margin: 2vw;
}

.question-card-symbol {
  color: white;
  border: none;
  background-color: rgb(40, 39, 39);
  font-size: x-large;
}

.qcard-button-one {
  position: relative;
  left: 60vw;
}

.qcard-button-two {
  position: relative;
  left: 49.4vw;
}

.qcard-button-three {
  position: relative;
  left: 57.4vw;
}

.qcard-button-four {
  position: relative;
  left: 59.2vw;
}

.qcard-button-five {
  position: relative;
  left: 49.5vw;
}

/* Restart Membership - CSS */

.restart-info {
  color: white;
  margin-top: 10vh;
  position: relative;
  top: 2vh;
}

.restart-membership {
  width: 80vw;
  height: 30vh;
  border-radius: 7px;
  background-color: #0b0b0f;
  display: flex;
  justify-content: center;
  gap: 2vh;
  flex-wrap: wrap;
}

.restart-input {
  align-self: flex-start;
  height: 10vh;
  width: 25vw;
  background-color: #0b0b0f;
  border-radius: 7px;
  border: none;
  border: 1px solid white;
  opacity: 0.4;
  color: white;
}

.restart-button {
  height: 10.5vh;
  width: 12vw;
  border-radius: 7px;
  border: none;
  background-color: red;
  color: white;
  font-size: large;
  font-weight: bold;
}

.restart-button:hover {
  animation: FocusAnimation 0.5s ease-in-out 0s 1 forwards;
}

/* Link Section CSS */

.link-info-one {
  color: white;
  position: relative;
  right: 32vw;
}

.link {
  width: 80vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.link-grid-elements {
  justify-self: center;
  align-self: center;
  color: gray;
}

@media screen and (orientation: portrait) {
  .link {
    grid-template-columns: 1fr;
    gap: 1vh;
  }
}
